* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
}

body {
    color: var(--secondary-color);
    font-family: "Amazon Ember", Arial, sans-serif;
    background-color: var(--primary-color);
}

.navbar-my {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.nav-belt-my {
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #131912;
    z-index: 2;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.logo-my {
    height: 100%;
    min-width: 150px;
    display: flex;
    flex-flow: row nowrap;
}

.amazon-logo-my {
    width: 120px;
    height: 80%;
    margin-top: 13px;
    margin-left: 6px;
    padding: 5px;
}

.navbar-my a {
    text-decoration: none !important;
    color: white !important;
}

.nav-main-my {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 60px;
    background-color: var(--primary-color);
}

.address-my {
    color: white;
    width: 155px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-size: 13px;
}

.loc-log-my {
    padding-top: 25px;
    margin-right: 2px;
}

.location-des-my {
    padding-top: 20px;
}

.quick-search-my {
    height: 40px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.form-search-my {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

#select-category {
    height: 100%;
    width: 50px;
    padding: 5px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.input-text-my {
    height: 100%;
    width: 94%;
}

.input-text-my input {
    height: 100%;
    width: 100%;
    font-size: 15px;
}

.nav-search-my {
    display: inline-block;
}

.search-submit-my {
    width: 50px;
    height: 102%;
    background-color: var(--primary-color);
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    cursor: pointer;
    padding: 6px;
}

.region-my {
    min-width: 50px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dropdown-region-lan-menu-my {
    display: none;
    background-color: var(--primary-color);
    height: 450px;
    /* border: 5px solid red; */
    width: 250px;
    position: absolute;
    top: 50px;
    text-align: left;
    padding: 10px;
    border-radius: 10%;
    font-size: 12px;
    /* overflow: scroll; */
}

#in-in {
    position: relative !important;
    top: 2px !important;
    left: -9px !important;
}

.dropdown-region-lan-menu-my input {
    margin: 5px;
}

.dropdown-region-lan-menu-my label:hover {
    text-shadow: 5px 5px 5px gold;
}

.region-my:hover .dropdown-region-lan-menu-my {
    display: block;
}

input[type=radio] {
    border: 0px;
    height: 15px;
    width: 15px;
}

.change-region-my {
    margin: 10px;
    padding: 10px;
}

.Accounts-my {
    width: 120px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.order-returns-my {
    min-width: 70px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.cart-my {
    min-width: 70px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("https://i.ibb.co/xSsVnh2/cart.png");
    background-size: 72px 90px, contain;
}

.number-of-items-my {
    margin-left: 20px;
    color: var(--secondary-color);
    margin-top: 6px;
}

#display-2 .item p {
    color: var(--secondary-color);
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.owl-item .item {
    height: auto;
}

.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item img {
    width: auto;
    margin: auto;
}

#display-1 {
    /* background-color: white; */
    padding: 10px;
}

.card-top {
    background-color: var(--primary-color);
    padding: 10px;
    max-height: 380px;
    min-height: 380px;
    text-align: center;
}

#display-1 .item {
    background-color: var(--primary-color);
}

.keep-shopping-items {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    max-height: 50%;
    width: 100%;
}

#display-2 {
    margin: 10px;
    /* background-color: white; */
}

.k-s-i-d {
    object-fit: cover;
    flex-shrink: 0;
    width: 50%;
    height: 50%;
    font-size: 11px;
}

.k-s-i-d a {
    text-decoration: none;
    color: var(--secondary-color);
}

.k-s-i-d img {
    max-width: 89%;
    min-height: 90%
}

.keep-shopping-items-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    max-height: 50%;
    width: 100%;
}

.k-s-i-d-bills {
    object-fit: cover;
    flex-shrink: 0;
    width: 50%;
    height: 50%;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 11px;
}

.k-s-i-d-bills a {
    text-decoration: none;
    color: var(--secondary-color);
}

.k-s-i-d-bills img {
    max-width: 100%;
    min-height: 80%
}

#myCarousel {
    max-height: 275px;
}

.offer-segment {
    background-color: var(--primary-color);
    height: 380px;
    width: 406px;
    padding: 10px;
}

@media screen and (max-width:836px) {
    #myCarousel {
        max-height: 150px;
    }
}

@media screen and (max-width:436px) {
    .logo-my {
        display: none;
    }
}

@media screen and (max-width:1000px) {
    .address-my {
        display: none;
    }
    .Accounts-my {
        display: none;
    }
    .region-my {
        display: none;
    }
    .order-returns-my {
        display: none;
    }
    .logo-my {
        display: none;
    }
    .quick-search-my {
        width: 90%;
    }
}

@media screen and (min-width:1306px) {
    #myCarousel {
        max-height: 350px;
    }
}

@media screen and (min-width:1000px) {
    #top-menu {
        display: none;
    }
}


.goto-top {
    display: flex;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
}

.foot-three-parts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px;
}

.foot-parts {
    text-align: left;
    padding: 10px;
}

.foot-parts p {
    color: var(--secondary-color);
}

#icon
{
    width: 30px;
    cursor: pointer; 
}

:root
{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme
{
    --primary-color: #000106;
    --secondary-color: white;

}
#coupon {
    height: 400px;
    width: 400px;
    color: yellow;
    background-image: url("images/cou.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 420px;
    visibility: hidden;
    position: absolute;
    left: 35%;
    top: 20%;
    z-index: 100;
}




top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
}
#weather {
    margin-right: 0%;
    height:40%;
    color:rgb(58, 182, 204);
}